@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Neutra Text';
    src: 
         url('/src/assets/fonts/NeutraText.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Neutra Text Bold';
    src:url('/src/assets/fonts/NeutraText.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }
