body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background: white;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #ebebeb;
    text-align: left;
  }
  
  th {
    background: #c0e3e5;
    color: #322625;
  }
  tr:hover {
    background-color: #ebebeb;
  }
  
  .thumb {
    width: 50px;
    height: 50px;
    background-size: cover;
    cursor: pointer;
  }
  
  .thumb-selected {
    border: 3px solid red;
  }
  